In [1]:
import pandas as pd

In [2]:
import pandas_datareader as pdr

C:\Users\jdcoh\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
from pandas_datareader import data

In [4]:
import matplotlib.pyplot as plt

In [5]:
pd.core.common.is_list_like = pd.api.types.is_list_like

In [6]:
import datetime

In [7]:
import scipy.stats as stats

In [8]:
AUD_USD1 = pdr.get_data_yahoo('AUDUSD=X', start=datetime.datetime(2019,1,1), end=datetime.datetime(2020,1,1))

AUD_USD = AUD_USD1.drop(AUD_USD1.index[0])
AUD_USD.head()

                High       Low      Open     Close  Volume  Adj Close
Date
2019-01-02  0.704821  0.698470  0.704722  0.704791     0.0   0.704791
2019-01-03  0.701951  0.691946  0.692008  0.691898     0.0   0.691898
2019-01-04  0.711238  0.699496  0.700722  0.700624     0.0   0.700624
2019-01-07  0.714388  0.711551  0.712606  0.712378     0.0   0.712378
2019-01-08  0.715103  0.711789  0.714602  0.714592     0.0   0.714592

In [9]:
gold = pdr.get_data_yahoo(('GC=F'), start = datetime.datetime(2019,1,1), end = datetime.datetime(2020,1,1))
gold.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,1286.000000,1277.599976,1286.000000,1281.000000,19.0,1281.000000
2019-01-03,1292.000000,1286.699951,1286.800049,1291.800049,149.0,1291.800049
2019-01-04,1294.199951,1275.300049,1294.199951,1282.699951,10.0,1282.699951
2019-01-07,1286.800049,1286.599976,1286.800049,1286.800049,34.0,1286.800049
2019-01-08,1283.199951,1278.199951,1280.500000,1283.199951,2.0,1283.199951

In [10]:
result = pd.concat([gold, AUD_USD], axis=1).reindex(gold.index)
result.head()

,High,Low,Open,Close,Volume,Adj Close,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,,,,,
2019-01-02,1286.000000,1277.599976,1286.000000,1281.000000,19.0,1281.000000,0.704821,0.698470,0.704722,0.704791,0.0,0.704791
2019-01-03,1292.000000,1286.699951,1286.800049,1291.800049,149.0,1291.800049,0.701951,0.691946,0.692008,0.691898,0.0,0.691898
2019-01-04,1294.199951,1275.300049,1294.199951,1282.699951,10.0,1282.699951,0.711238,0.699496,0.700722,0.700624,0.0,0.700624
2019-01-07,1286.800049,1286.599976,1286.800049,1286.800049,34.0,1286.800049,0.714388,0.711551,0.712606,0.712378,0.0,0.712378
2019-01-08,1283.199951,1278.199951,1280.500000,1283.199951,2.0,1283.199951,0.715103,0.711789,0.714602,0.714592,0.0,0.714592

In [11]:
result1 = result['Adj Close']
result1.head()

              Adj Close  Adj Close
Date
2019-01-02  1281.000000   0.704791
2019-01-03  1291.800049   0.691898
2019-01-04  1282.699951   0.700624
2019-01-07  1286.800049   0.712378
2019-01-08  1283.199951   0.714592

In [12]:
result1.columns = ['% change gold', '% change currency']

In [13]:
comparison = result1.pct_change(periods = -1)
comparison.head()
comparison.iloc[2]

% change gold       -0.003186
% change currency   -0.016500
Name: 2019-01-04 00:00:00, dtype: float64

In [14]:
comparison.head(15)

            % change gold  % change currency
Date
2019-01-02      -0.008360           0.018635
2019-01-03       0.007094          -0.012454
2019-01-04      -0.003186          -0.016500
2019-01-07       0.002806          -0.003099
2019-01-08      -0.004731          -0.002430
2019-01-09       0.003581          -0.001719
2019-01-10      -0.001865          -0.001579
2019-01-11      -0.001551          -0.002515
2019-01-14       0.002255           0.000793
2019-01-15      -0.004181          -0.001145
2019-01-16       0.000465           0.004822
2019-01-17       0.007570          -0.002396
2019-01-18      -0.000936           0.004386
2019-01-22      -0.000468           0.005169
2019-01-23       0.003127          -0.003618

In [15]:
import numpy as np

In [45]:
# find where gold is negative
# print the next row of change in currency

#column_var -- column which changes
# column1 -- column which is bought/sold

def backtest(df,column_var, column1):
    a = (df[df[column_var]>0][column1].shift(periods = -1, freq = None,  axis = 0,))
    print( pd.DataFrame(a))
    

    print(a.head())
    print( '%return on investment:',a.sum(axis=0)    )  

backtest(comparison , '% change gold', '% change currency')

            % change currency
Date
2019-01-03          -0.003099
2019-01-07          -0.001719
2019-01-09           0.000793
2019-01-14           0.004822
2019-01-16          -0.002396
...                       ...
2019-12-11           0.007613
2019-12-13           0.000069
2019-12-16           0.003169
2019-12-17          -0.005552
2019-12-19                NaN

[110 rows x 1 columns]
Date
2019-01-03   -0.003099
2019-01-07   -0.001719
2019-01-09    0.000793
2019-01-14    0.004822
2019-01-16   -0.002396
Name: % change currency, dtype: float64
%return on investment: 0.055527396626743775

In [44]:
#graph to show minimum %change to invest
#short one column, buy the other

def graph(df,column_var, column1):
    array = np.arange(-0.1,0.1,0.01)
    for i in array:
        b = pd.DataFrame( (df[df[column_var]>i][column1].shift(periods = 1, freq = None,  axis = 0,))  )
    
        i += i 
        print( i, b.sum(axis = 0))
        

graph(comparison , '% change gold', '% change currency')

-0.2 % change currency    0.01187
dtype: float64
-0.18000000000000002 % change currency    0.01187
dtype: float64
-0.16000000000000003 % change currency    0.01187
dtype: float64
-0.14000000000000004 % change currency    0.01187
dtype: float64
-0.12000000000000005 % change currency    0.01187
dtype: float64
-0.10000000000000006 % change currency    0.01187
dtype: float64
-0.08000000000000007 % change currency    0.01187
dtype: float64
-0.06000000000000008 % change currency    0.017199
dtype: float64
-0.04000000000000009 % change currency    0.016475
dtype: float64
-0.0200000000000001 % change currency    0.03141
dtype: float64
-1.1102230246251565e-16 % change currency    0.042092
dtype: float64
0.01999999999999988 % change currency    0.036542
dtype: float64
0.03999999999999987 % change currency   -0.001741
dtype: float64
0.05999999999999989 % change currency    0.0
dtype: float64
0.07999999999999985 % change currency    0.0
dtype: float64
0.09999999999999981 % change currency    0.0
dtype: float64
0.11999999999999983 % change currency    0.0
dtype: float64
0.13999999999999985 % change currency    0.0
dtype: float64
0.1599999999999998 % change currency    0.0
dtype: float64
0.17999999999999977 % change currency    0.0
dtype: float64